{% extends "layout.html" %} {% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">{{ legend }}</legend>
      <div class="row">
        <div class="form-group col-md-6">
          {{ form.first_name.label(class="form-control-label") }} {% if
          form.first_name.errors %} {{ form.first_name(class="form-control
          form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.first_name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.first_name(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="form-group col-md-6">
          {{ form.middle_name.label(class="form-control-label") }} {% if
          form.middle_name.errors %} {{ form.middle_name(class="form-control
          form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.middle_name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.middle_name(class="form-control form-control-lg")
          }} {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          {{ form.last_name.label(class="form-control-label") }} {% if
          form.last_name.errors %} {{ form.last_name(class="form-control
          form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.last_name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.last_name(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group col-md-6">
          {{ form.nickname.label(class="form-control-label") }} {% if
          form.nickname.errors %} {{ form.nickname(class="form-control
          form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.nickname.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.nickname(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          {{ form.gender.label(class="form-control-label") }} {{
          form.gender(class="form-control form-control-lg") }}
        </div>
        <div class="form-group col-md-6">
          {{ form.age.label(class="form-control-label") }} {% if form.age.errors
          %} {{ form.age(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.age.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.age(class="form-control form-control-lg") }} {%
          endif %}
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
{% endblock %}
